body {
    background-color: green;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.general-text {
    color: blue;
}

header {
    background-color: bisque;
    width: 100%;
    padding:20px;
    position:fixed;
    top: 0;
    z-index: 100
    /* z index is stacking */

}
footer {
    background-color: bisque;
    width: 100%;
    padding:20px;
    /* z index is stacking */

}

nav {
    width: 100%;
    max-width: 1200px;
    /* how much space to cover but max width caps it */
    margin: 0 auto;
    /* top bottom and left right */
    display: flex;
    /* setting container flexbox */
    justify-content: space-between;
    /* changes based on flex direction. aligns horz and align items will justify vert */
    /* flex-direction: column; (flips it) */
    align-items: center;
}

.header-link {
    /* this syntax targets every child a tag inside a parent nav tag */
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 21px;
    text-decoration: none;
    color: black;
    transition: all 300ms ease-in-out;

} 

/* this is a scale fade effect^ */

.header-link:hover {
    text-decoration: underline;
    scale: 1.2;
}

main {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    padding-top: 105px;
    /* margin-top creates gaps compared to padding */
    /* recommeded to pad 20px from edge */
}
/* reusable classes */

.button-link {
    font-size: 18px;
    background-color:bisque;
    color: black;
    font-weight: 700;
    border-radius: 10px;
    padding: 12px 8px;
    width: fit-content;
    transition: all 300ms ease-in-out;
    text-decoration: none;
}

.button-link:hover {
    scale: 1;
    background-color: rgb(201, 180, 155);
    
    
}

/* created grouped box for header links to sit in */
.link-container { 
    display: flex;
    align-items: center;
    gap: 50px;
}

.catimg {
    width: 200px;
    height: auto;
    border-radius: 100px;
    box-shadow: 5px 8px 10px 6px;
    /* border-radius always rounds the edges the higher pixel count is more round edges*/
}

.manimg {
    width: 200px;
    height: auto;
    border-radius: 50px;
    box-shadow: 5px 8px 10px 6px;
    /* border-radius always rounds the edges the higher pixel count is more round edges*/
}
/* header > nav > a{ color: green;}
css has waterfall effect will respect last in file */